if SHIELD_DUOMACRO_LEFT

config ZMK_KEYBOARD_NAME
    default "duomacro"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_DUOMACRO_LEFT || SHIELD_DUOMACRO_RIGHT

config ZMK_SPLIT
    default y

endif
